# ignore everything
*
# except for these "not ignores"
!*.m
!html/*  # relatively small... allows us to see published results
!EE547* # "official" docs, preceded by EE547 pattern
!simulink/*.slx  # only the model files... 
!.gitignore


